<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="icon" href="data:,">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col">
        <h1>This is the about pageaaa </h1>
        </div>
    
    </div>

</div>
</body>
</html>